.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    text-align: center;
    color: #333;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form input[type="text"],
.form-container form input[type="email"] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.form-container form button {
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.form-container form button:hover {
    background-color: #004494;
}

/* Estilo para el contenedor del formulario */
div {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para el título del formulario */
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo base para los inputs */
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que padding no aumente el tamaño del input */
}

/* Estilo para el botón de enviar */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.links-container {
    display: flex;
    justify-content: space-between; /* Separa los enlaces uniformemente */
    padding: 20px;
}